@font-face {
	font-family: 'Olivier';
	src: url('./fonts/olivier_demo.ttf');
}

.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}

.col-xs-15 {
    width: 20%;
    float: left;
}
@media (min-width: 768px) {
.col-sm-15 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 992px) {
    .col-md-15 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 1200px) {
    .col-lg-15 {
        width: 20%;
        float: left;
    }
}

body {
	padding-bottom: 40px;
	color: #5a5a5a;
	// font-family: 'Open Sans', 'sans-serif';
}




/* CUSTOMS */

/*
SCHEME
#183641
#20566E
#479AB8
#6EB4C0
#93D0C9
#CEE9F4
*/

.bgcolor-1 {
	background-color: #183641 !important;
}
.bgcolor-2 {
	background-color: #20566E !important;
}
.bgcolor-3 {
	background-color: #479AB8 !important;
}
.bgcolor-4 {
	background-color: #6EB4C0 !important;
}
.bgcolor-5 {
	background-color: #93D0C9 !important;
}
.bgcolor-6 {
	background-color: #CEE9F4 !important;
}

.color-1 {
	color: #183641 !important;
}
.color-2 {
	color: #20566E !important;
}
.color-3 {
	color: #479AB8 !important;
}
.color-4 {
	color: #6EB4C0 !important;
}
.color-5 {
	color: #93D0C9 !important;
}
.color-6 {
	color: #CEE9F4 !important;
}


h1, h2, h3, h4, h5, h6 {
	color: #20566E;
}

.top-header {
	height: 120px;
}

.top-header a:hover {
	text-decoration: none;
}


.top-navbar {
	background-color: #CEE9F4;
}

.top-navbar a {
	color: #20566E;
	font-weight: bold;
	text-transform: uppercase;
}

.nav > li > a:hover, .nav > li > a:focus {
	background-color: #93D0C9;
}

.brand-logo {
	position: absolute;
	top: 10px;
}

.brand-name h1 {
    margin: 51px 0 0 65px;
    font-size: 45px;
    font-family: 'Olivier';
    color: #183641;
}

.font-olivier {
	font-family: 'Olivier';
}

.section-title {
	color: #479AB8;
	text-align: center;
	letter-spacing: 1px;
	word-spacing: 2px;
	text-transform: uppercase;
	font-size: 20px;
	font-weight: bold !important;
	margin: 50px 0;
}

.about-us-section {
	background: #FAFAFA;
}

footer {
	margin-top: 40px;
}

.header-row {
	background-color: #CEE9F4;
}

.table th {
	color: #20566E;
}

.table tr.stripe {
	background-color: #FAFAFA;
}

.btn-subscription {
	display: block;
	width: 100%;
	min-height: 60px;
}


.carousel {
	height: 500px;
	positon: relative;
	margin-bottom: 20px;
}

.carousel h1, .carousel h2, .carousel h3, .carousel h4, .carousel h5, .carousel h6 {
	color: #FFF;
}

.carousel-caption {
	z-index: 10;
	margin: 0;
	position: absolute;
	top: 50%;
	transform: translate(0, -50%)
}

.carousel .item {
	height: 500px;
	background-color: #FFF;
}
.carousel-inner > .item > img {
	position: absolute;
	top: 0;
	left: 0;
	min-width: 100%;
	height: 500px;
}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */

.marketing {
	padding-bottom: 40px;
	margin-bottom: 20px;
}

.marketing .col-md-15 {
	margin-bottom: 20px;
	text-align: center;
}
.marketing h2 {
	font-weight: normal;
}
.marketing .col-md-15 p {
	margin-right: 10px;
	margin-left: 10px;
}


/* Featurettes
------------------------- */

/* Thin out the marketing headings */
.featurette-heading {
	font-weight: 300;
	line-height: 1;
	letter-spacing: -1px;
}

.service-img-container {
	height: 150px;
	position: relative;
}

table-services ul li{
	margin-bottom:8px;
}

.carousel-caption {
    text-shadow: 0 2px 6px rgba(0, 0, 0, .7);
}

.mask {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	opacity: .1;
}